.aside, .footer {
    &__container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        border: 2px solid black
    }
    &__title {
        position: relative;
        text-align: center;
        min-height: 70px;
        h2 {
            position: relative;
            margin: 0px;
            background-color: grey;
            line-height: 32px;
        }
    }
}

.aside {
    padding: 40px 0px;
    &__title {
        border-bottom: 1px solid black;
    }
    &__block {
        &_red {
            background-color: red;
        }

        &_green {
            background-color: green;
        }

        &_blue {
            background-color: blue;
        }

        &_orange {
            background-color: orange;
        }

        &_aqua {
            background-color: aqua;
        }
    }

    &__item {
        margin: 0 5%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
    }

    &__btn {
        position: relative;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        background-color: red;
        border-radius: 15px;
        border: none;
        text-align: center;
        height: 25px;
        width: 150px;
        cursor: pointer;
    }
}
.footer {
    background-color:darkslategray;
}
