@import "../style/mixin.scss";
@import "../style/variables.scss";

$offwhite: darken(white, 10%);
$darkblue: rgb(50,50,60);


h1,h2{
    margin: 0;
    padding: 0;
}

.aside {
    &__container {
        @include flex(column, space-around, inherit, nowrap);
    }
    &__title {
        @include text($textFontFamily, 2em, 1.2, 400);
        color: $textColor;
        position: relative;
        text-align: center;
        min-height: 70px;
        h2 {
            position: relative;
            margin: 0px;  
            line-height: 32px;
        }
    }
}
.footer {
    &__container {
        @include flex(column, space-around, inherit, nowrap);
    }
    &__title {
        @include text($textFontFamily, 1.1em, 1.5, 400);
        color: $textColor;
        position: relative;
        text-align: center;
        min-height: 35px;
        h2 {
            position: relative;
            margin: 0px;
            font-weight: 400;  
        }
    }
}

.aside {
    padding: 40px 0px;

    &__block {
        &_grey {
            background:$bgColorSecond;
        }
        &_dark {
            background: $bgColorFirst;
        }
    }

    &__btn {
        @include text($textFontFamily, 1.4em, 1, 400);
        color: $textColor;
        box-sizing: border-box;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-color: transparent;
        border-radius: 0.2em;
        cursor: pointer;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        padding: .5em 2.5em .3em 2.5em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
      &:hover, &:focus {
        outline: 0;
      }
        border-color: $borderColor;
        color: $textColor;
        box-shadow: 0 0 20px 20px  #141e30 inset, 0 0 0 0 #141e30;
        -webkit-transition: all 250ms ease-in-out;
        transition: all 200ms ease-in-out;
      &:hover {
        box-shadow: 0 0 12px 2px $borderColor inset, 0 0 10px 5px $borderColor;
      }
    }
}
.footer {
    background: $bgColorSecond;
}


//about_me

.about_me {
    &__container {
        @include flex(row, center, inherit, wrap-reverse);
    }
    &__title{
        @include text($textFontFamily, 3em, 1.2, 400);
        color: $textColor;
        text-align: center;
        padding-bottom: 10px;
    }
    &__text{
        margin: 0 35px;
    }
    &__descr{
        @include text($textFontFamily, 0.8em, 1, 400);
        color: $textColor;
        text-transform: uppercase;
        text-align: end;
    }

    &__text {
        max-width: 600px;
        align-self: center;
    }
    &__tilt, &__foto {
        height: 330px;
    }
    &__foto {
        max-width: 260px;
        object-fit: cover;
        border: 5px solid $borderColor;
        border-bottom: 50px solid $borderColor;
        border-radius: 3px;
        box-sizing: border-box;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    }
}

//skills
.list{
    @include flex(row, center, inherit, wrap);
    margin: 0 auto;
    max-width: 900px;
    gap: 50px;
 }

 //project
 .project{
    &__box{
        @include flex(row, space-around, center, wrap);
        @include text($textFontFamily, 1.2em, 1, 400);
        color: $textColor;
        width: 50vw;
        gap: 50px;
        // flex:1 2 45%;
        
        span{
            background-color:$borderColor;
        }
    }
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    
    &__img{
        position: relative;
        width: 50vw;
        height:30vw;
        
        transition: transform 0.6s;
        &:hover{
            transform: scale(1.02);
        }
   
        img{
            width: 100%;
            height:100%;
            object-fit: fill;
        }
        a{
            color:$textColor;
            text-decoration: none;
            font-weight: 400;
            font-size: 3.5rem;
            text-align: center;
            display: none;
            transition: transform 0.6s;
        }
        &:hover a {
            background-color: rgba(56, 55, 55, 0.8);
            width: 100%;
            height: 100%;
           display: flex;
           justify-content: center;
           align-items: center;
        }
    }
    &__btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__txt{
        padding: 0px;
        margin: 0px;
        text-align:center;
        border-bottom: 2px solid $borderColor;
        width: 50vw;
        box-sizing:border-box;
        h3{
            margin: 10px 0 2px 0px;
            font-size: 1.6em; 
            font-weight: 400;
        }
    }
    
}