.aside{
    padding: 40px 0px; 

    &__block{
        &_red{
            background-color: red;
        }
        &_green{
            background-color: green;
        }
        &_blue{
            background-color: blue;
        }
        &_orange{
            background-color: orange;
        }
        &_aqua{
            background-color:aqua;
        }
    }

    &__container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        border: 2px solid black;

    }
    &__title{
        position: relative;
        border-bottom: 1px solid black;
        text-align: center;
        min-height: 70px;
        h2{
            position: relative;
            margin: 0px;
            background-color: grey;
            line-height: 32px;
        }
    }
    &__item{
        display: flex;
        justify-content: space-between;
    }
}

