@import "../style/mixin.scss";

.header {
    @include flex(row, flex-end, stretch, nowrap);
    margin: 0 auto;
    position: fixed;
    background-color: blue;
    width: 100vw;
    height: 40px;
    z-index: 10;

    .nav_hidden{
        max-width: 280px;
        @media screen and (max-width: 400px) {
            display: none;
        }
    }
    .burger_hidden{
        @media screen and (min-width: 400px) {
            display: none;
        }
    }
}

