@import "../style/mixin.scss";
@import "../style/variables.scss";

.header {
    @include flex(row, flex-end, stretch, nowrap);
    margin: 0 auto;
    position: fixed;
    background: $bgColorNav;
    width: 100vw;
    height: 40px;
    z-index: 10;

    .nav{
        &__txt{
            @include text($textFontFamily, 1.4em, 1, 400);
            color: $textColor;  
        }
     
        &_hidden{
        max-width: 325px;
        @media screen and (max-width: 450px) {
            display: none;
            }
        }
    }
    .burger_hidden{
        @media screen and (min-width: 450px) {
            display: none;
        }
    }
}

