@import "./../../style/mixin.scss";
@import "./../../style/variables.scss";

form {
    padding: 0 15px;

    .aside {
        &_contacts {
            @include text($textFontFamily, 2em, 1, 400);
            color: $textColor;
            margin: 0 0 25px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: inline-flex;
            flex-direction: column;
            max-width: calc(300px - 28px);
            min-width: 30%;
            align-items: left;
            border: 4px solid $borderColor;

            
            legend {
                position: relative;
                margin: 0 auto;
                line-height: 32px;
                font-size: 1.5em;
                font-weight: 700;
                padding: 0 0px;
            }

            label {
                @include text($textFontFamily, 32px, 1, 700);
                position: relative;
                box-sizing: border-box;
                padding-bottom: 20px;
                font-size: .7em;
                input, textarea {
                    background-color: rgb(123, 133, 145);
                    position: relative;
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    border:none;
                    border-radius: 5px;
                    padding-top: 5px;
                    padding-left: 4px;
                }
                input {
                    @include text($inputFontFamily, 1em, 1, 700);
                }
                textarea {
                    @include text($inputFontFamily, .8em, 1, 400);
                }

            }
        }
    }

}

.message{
    &__txt{
            display: block;
            box-sizing: border-box;
            width: 100%;
            min-height: 120px;
            padding: 10px;
            resize: none;
    
            &:focus {
              border: 1px solid transparent;
              transition: all 0.4s ease-in-out 0s;
            }
    }
}
