@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
    flex-wrap: $wrap;
  }

@mixin text($fontFamily, $fontSize, $lineHeight, $fontWeight){
  font-family:$fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $textColor;
}